<div class="container-fluid container-fixed-lg footer">
    <div class="copyright sm-text-center">
        <p class="small no-margin pull-left sm-pull-reset">
            <span class="hint-text">Copyright &copy; {{ "now"|date("Y") }}
 </span>
            <span class="font-montserrat">Electron Agency Tools</span>.
            <span class="hint-text">Tous les droits sont réservés. </span>
            <span class="sm-block"><a target="_blank" href="http://www.electron-agency.fr/" class="m-l-10 m-r-10">
Conditions d'utilisation</a> | <a target="_blank" href="http://www.electron-agency.fr/" class="m-l-10">Politique de confidentialité</a></span>
        </p>
        <p class="small no-margin pull-right sm-pull-reset">
            <a href="#"></a>conçue par Electron Agency ®</span>
        </p>
        <div class="clearfix"></div>
    </div>
</div>